<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>CodeCalendar</title>
  <link rel="stylesheet" type="text/css" href="https://gist.github.com/andyferra/2554919/raw/2e66cabdafe1c9a7f354aa2ebf5bc38265e638e5/github.css">
  <style>
	body {
	  	font-family: verdana;
	  }
    .previewPage {
      margin: 64px auto;
      width: 920px;
    }
    .arrows {
    	font-size: 2em;
    	text-decoration: none;
    }
  </style>
</head>
<body>
  <div class="page">
    <div class="previewPage">
    <div id="readme" class="announce md">
      <article class="markdown-body entry-content">
		{{ daytext|safe }}
      </article>
      <a class="arrows" href="/{{day_before}}">&#8610;</a>
      <a class="arrows" href="/{{today}}">&#9822;</a>
      <a class="arrows" href="/{{day_next}}">&#8611;</a>
    </div>
  </div>
  
  <div>&nbsp;</div>
  </div>
</body>
</html>