<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>CodeCalendar</title>
  <link rel="stylesheet" type="text/css" href="/static/css/github.css">
  <style>
	body {
	  	font-family: verdana;
	  }
    .previewPage {
      margin: 64px auto;
      width: 920px;
    }
    .arrows {
    	font-size: 2em;
    	text-decoration: none;
    }
    .twitter-share-button {
      float: right;
    }
  </style>
</head>
<body>
  <div class="page">
    <div class="previewPage">
    <div id="readme" class="announce md">
      <article class="markdown-body entry-content">
		{{ daytext|safe }}
      </article>
      <a class="arrows" href="/{{day_before}}">&#8610;</a>
      <a class="arrows" href="/{{today}}">&#9822;</a>
      {% if day_next %}
        <a class="arrows" href="/{{day_next}}">&#8611;</a>
      {% endif %}

      <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    </div>
  </div>

  <div>&nbsp;</div>
  </div>

  <!-- this is the copy pasted javascript magic that gets the fucking twitter button-->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
    fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

</body>
</html>
